@import '../../styles/variables.module';

.container {
    display: flex;
    align-items: center;
    padding: 15px 60px;
    width: 100vw;
    background-color: $color-black;
    gap: 40px;

    h1 {
        color: $color-white;
        font-size: 36px;
        line-height: 100%;
        font-weight: 700;
    }
}